<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	">
  <bean id="importer.excelUploadFileProcessor" class="org.malagu.panda.importer.controller.ExcelUploadFileProcessor"></bean>
  <bean id="importer.xssfExcelPolicy" class="org.malagu.panda.importer.policy.impl.XSSFExcelPolicy">
    <property name="sheetPolicy" ref="importer.xssfSheetPolicy"></property>
    <property name="parseRecordPolicy" ref="importer.parseRecordPolicy"></property>
  </bean>
  <bean id="importer.EasyExcelPolicy" class="org.malagu.panda.importer.policy.impl.EasyExcelPolicy">
    <property name="parseRecordPolicy" ref="importer.parseRecordPolicy"></property>
  </bean>
  <bean class="org.malagu.panda.importer.handler.XSSFSheetHandler" scope="prototype"></bean>
  <bean id="importer.defaultPostProcessPolicy" class="org.malagu.panda.importer.policy.impl.DefaultPostProcessPolicy" />

  <!--相关解析策略 -->
  <bean id="importer.xssfSheetPolicy" class="org.malagu.panda.importer.policy.impl.XSSFSheetPolicy"></bean>
  <bean id="importer.parseRecordPolicy" class="org.malagu.panda.importer.policy.impl.ParseRecordPolicyImpl"></bean>

  <bean id="importer.importerSolutionMaintain" class="org.malagu.panda.importer.controller.ImporterSolutionController">
    <property name="autoCreateMappingRulePolicy" ref="importer.autoCreateMappingRulePolicy"></property>
  </bean>

  <!--会话工厂和实体类过滤器 -->
  <bean class="org.malagu.panda.importer.filter.impl.EmptyEntityTypeFilter"></bean>
  <bean class="org.malagu.panda.importer.filter.impl.EmptyEntityManagerFactoryFilter"></bean>

  <!--单元格解析器 -->
  <bean id="importer.defaultCellPreParser" class="org.malagu.panda.importer.parser.impl.DefaultCellPreParser"></bean>
  <bean id="importer.defaultCellPostParser" class="org.malagu.panda.importer.parser.impl.DefaultCellPostParser"></bean>
  <bean id="importer.elCellPreParser" class="org.malagu.panda.importer.parser.impl.ELCellPreParser">
    <property name="expressionHandler" ref="dorado.expressionHandler"></property>
  </bean>
  <bean id="importer.elCellPostParser" class="org.malagu.panda.importer.parser.impl.ELCellPostParser">
    <property name="expressionHandler" ref="dorado.expressionHandler"></property>
  </bean>
  <bean id="importer.paramCellPreParser" class="org.malagu.panda.importer.parser.impl.ParamCellPreParser"/>

  <!--单元格生命周期处理器 -->
  <bean class="org.malagu.panda.importer.processor.impl.EmptyCellPreprocessor"></bean>
  <bean class="org.malagu.panda.importer.processor.impl.DefaultCellProcessor"></bean>
  <bean class="org.malagu.panda.importer.processor.impl.EmptyCellPostprocessor"></bean>

  <!--单元格生命周期处理器 -->
  <bean class="org.malagu.panda.importer.converter.impl.BooleanTypeConverter"></bean>
  <bean class="org.malagu.panda.importer.converter.impl.ByteTypeConverter"></bean>
  <bean class="org.malagu.panda.importer.converter.impl.CharTypeConverter"></bean>
  <bean class="org.malagu.panda.importer.converter.impl.EnumTypeConverter"></bean>
  <bean class="org.malagu.panda.importer.converter.impl.FloatTypeConverter"></bean>
  <bean class="org.malagu.panda.importer.converter.impl.IntegerTypeConverter"></bean>
  <bean class="org.malagu.panda.importer.converter.impl.LongTypeConverter"></bean>
  <bean class="org.malagu.panda.importer.converter.impl.ShortTypeConverter"></bean>
  <bean class="org.malagu.panda.importer.converter.impl.StringTypeConverter"></bean>
  <bean id="importer.bigDecimalTypeConverter" class="org.malagu.panda.importer.converter.impl.BigDecimalTypeConverter"></bean>
  <bean id="importer.dateTypeConverter" class="org.malagu.panda.importer.converter.impl.DateTypeConverter"></bean>

  <bean id="importer.autoCreateMappingRulePolicy" class="org.malagu.panda.importer.policy.impl.AutoCreateMappingRulePolicyImpl"></bean>

</beans>